$select-min-width: fit-content;
$select-z-index: 999999;

// Important: hide overflow scroll when select is open
#szql-dashboard-wrap:has(.szql-select-open) .szql-popup-layout {
	scrollbar-gutter: stable;
	@apply overflow-hidden;
}

// Important: hide overflow scroll when select is open
html:not(:has(.szql-popup-layout)) {
	&:has(.szql-select-open) {
		scrollbar-gutter: stable;
		@apply overflow-hidden;
	}
}
.szql-select-component {
	@apply relative cursor-pointer;
	min-width: $select-min-width;
	.components-input-control__input {
		@apply cursor-pointer;
	}
}

.szql-select-trigger-component {
	@apply border border-solid rounded-md bg-white px-2.5 py-2 flex justify-between items-center cursor-pointer focus:ring-2 focus:ring-blue-500 focus:outline-none;
	border-color: var(--szql-stroke-sub);
	background-color: var(--szql-bg-white);

	.szql-select-trigger-icon {
		@apply transition-all duration-200 ease-out;
	}
}

.szql-select-value-component {
	color: var(--szql-text-sub);
	@apply text-nowrap;

	&.szql-select-value-placeholder {
		color: var(--szql-text-placeholder);
	}
}

.szql-select-content-component {
	@apply fixed flex flex-col outline outline-solid bg-white rounded-md shadow-[0_4px_6px_-1px_rgba(0,0,0,0.1),0_2px_4px_-1px_rgba(0,0,0,0.06)] translate-y-1 transition-[opacity_0.1s_ease-out,transform_0.1s_ease-out] max-h-[min(24rem,calc(100vh-1rem))] overflow-y-auto;
	outline-color: var(--szql-stroke-sub);
	background: var(--szql-bg-white);
	z-index: $select-z-index;

	.szql-select-content-body {
		@apply p-1;
	}
}

.szql-select-open {
	@apply opacity-100 translate-y-0 pointer-events-auto h-auto;

	&.szql-select-trigger-icon {
		@apply rotate-180;
	}
}

.szql-select-close {
	@apply h-0 -translate-y-2.5;
}

.szql-select-group-item-component {
	&:first-child {
		.szql-select-label-component {
			@apply rounded-t-md;
		}
	}
	&:last-child {
		.szql-select-item-component {
			&:last-child {
				@apply rounded-b-md;
			}
		}
	}

	.szql-select-item-component {
		@apply py-1.5 px-5;
	}
}

.szql-select-label-component {
	@apply py-1.5 px-4 bg-(--szql-bg-weak) text-(--szql-text-soft);
	font-size: var(--szql-font-size-sm);
	line-height: var(--szql-font-line-height-sm);
	font-weight: var(--szql-font-weight-medium);
	background-color: var(--szql-bg-weak);
	color: var(--szql-text-soft);
}

.szql-select-item-component {
	@apply cursor-pointer py-1.5 px-4 text-(--szql-text-sub) transition-all duration-200 ease-out flex items-center gap-1 justify-between text-nowrap;
	font-size: var(--szql-font-size-sm);
	line-height: var(--szql-font-line-height-sm);
	color: var(--szql-text-sub);
	&:hover {
		background: var(--szql-bg-soft);
	}

	&:first-child {
		@apply rounded-t-md;
	}

	&:last-child {
		@apply rounded-b-md;
	}

	// &.szql-select-item-selected {
	// 	color: var(--szql-text-white);
	// 	background: var(--wp-admin-theme-color);
	// }
}

.szql-select-search-component {
	@apply mb-1 p-1 sticky top-0 backdrop-blur-[5px] z-9999 min-w-55;
}

.szql-select-no-data {
	@apply text-center text-(--szql-text-sub) py-2.5 px-2.5 text-nowrap;
	font-size: var(--szql-font-size-xs);
	line-height: var(--szql-font-line-height-xs);
	font-weight: var(--szql-font-weight-medium);
	color: var(--szql-text-sub);
}

.szql-select-trigger-icons {
	@apply flex gap-1 items-center;
}

.szql-select-item-selected {
	&,
	&:hover {
		color: var(--szql-text-white) !important;
		background: var(--wp-admin-theme-color) !important;
	}
}

.components-menu-group {
	padding: 0 !important;
	border: none !important;
	.components-menu-group__label {
		padding: 8px 12px !important;
		margin-bottom: 0 !important;
		background: #f0f0f0 !important;
		border: none !important;
		margin-top: 0 !important;
	}
	.components-menu-item__button {
		padding: 6px 24px !important;
		.components-menu-items__item-icon {
			color: #f37500 !important;
		}
	}
}
