composer.lock
build
node_modules
.env
.worktrees

.DS_Store
.DS_Store?

vendor
vendor_prefixed

# ignore compile files
assets/css/eamm-backend.css
assets/css/eamm-backend-rtl.css
assets/css/eamm-backend.css.map
assets/css/eamm-backend-temp.css
assets/css/eamm-backend-datatable.css
assets/css/eamm-backend-datatable-rtl.css
assets/css/eamm-frontend.css
assets/js/*
src/style-generated.css

*.pot
languages/*

*.min.js

*.js.map
*.asset.php

docs

.github/context
.github/context-sqa