composer.lock
build
node_modules
.env
.worktrees

.DS_Store
.DS_Store?

vendor
vendor_prefixed

# ignore compile files
assets/css/szql-backend.css
assets/css/szql-backend-rtl.css
assets/css/szql-backend.css.map
assets/css/szql-backend-temp.css
assets/css/szql-backend-datatable.css
assets/css/szql-backend-datatable-rtl.css
assets/css/szql-frontend.css
assets/js/*
src/style-generated.css

*.pot
languages/*

*.min.js

*.js.map
*.asset.php

docs

.github/context
.github/context-sqa