.eamm-pro-button-component {
	@apply px-1.5 py-0.5 rounded-[999px] w-fit flex gap-0.5 items-center bg-orange-500 transition-all duration-200 ease-out z-999 min-h-4.5 cursor-pointer;

	&.eamm-pro-modal-hidden {
		@apply hidden;
	}

	&.eamm-pro-button-icon-only {
		@apply rounded-full p-0.5;
	}

	&:hover {
		@apply bg-orange-600;
	}

	&:focus {
		@apply shadow-none outline-none;
	}

	.eamm-pro-button-icon {
		color: var(--eamm-text-white);
	}
	.eamm-pro-button-text {
		color: var(--eamm-text-white);
		font-size: var(--eamm-font-size-2xs);
		line-height: var(--eamm-font-line-height-2xs);
		font-weight: var(--eamm-font-weight-medium);
	}
}
