// Important: hide overflow scroll when select is open
#eamm-dashboard-wrap:has(.shipping-cost-popup) .eamm-popup-layout {
	scrollbar-gutter: stable;
	overflow: hidden;
}

// Important: hide overflow scroll when select is open
html:not(:has(.eamm-popup-layout)) {
	&:has(.shipping-cost-popup) {
		scrollbar-gutter: stable;
		overflow: hidden;
	}
}

.shipping-cost-popup-wrapper {
	@apply fixed inset-0 w-full h-screen z-99999 backdrop-blur-[2px] bg-black/70;
}

.shipping-cost-popup {
	@apply shadow-[0px_16px_40px_-8px_#0E121B1F] z-99999 fixed p-4;
}
