$multi-select-min-width: 160px;

// Important: hide overflow scroll when multiselect is open
// #syzeql-dashboard-wrap:has(.syzeql-multiselect-open) .syzeql-popup-layout {
// 	@apply overflow-hidden;
// 	scrollbar-gutter: stable;
// }

// // Important: hide overflow scroll when multiselect is open
// body {
// 	&:has(.syzeql-multiselect-open) {
// 		@apply overflow-hidden;
// 		scrollbar-gutter: stable;
// 	}
// }

.syzeql-multiselect-component {
	@apply relative w-fit;
	min-width: $multi-select-min-width;
}

.syzeql-multiselect-trigger-component {
	@apply border border-solid bg-white p-1.75 flex justify-between items-center cursor-pointer min-h-10 focus:ring-2 focus:ring-(--wp-admin-theme-color) focus:outline-none;
	border-color: var(--syzeql-stroke-sub);
	&.syzeql-multiselect-has-placeholder {
		@apply px-2.5 py-1.5;
	}

	.syzeql-multiselect-trigger-icon {
		@apply transition-all duration-300 ease-in-out;
	}

	.syzeql-multiselect-trigger-placeholder {
		color: var(--syzeql-text-placeholder);
	}
}

.syzeql-multiselect-search-component {
	z-index: inherit;
}

.syzeql-multiselect-content-component {
	@apply cursor-pointer fixed overflow-y-auto p-2 outline outline-solid bg-white rounded-md;
	outline-color: var(--syzeql-stroke-sub);
	background: var(--syzeql-bg-white);
	border-radius: var(--syzeql-border-radius-md);
	z-index: 99999;
	transform: translateY(-10px);
	transition: all var(--syzeql-transition-md) ease-in-out;
	max-height: 24rem;
	overflow-x: auto;

	.syzeql-checkbox-component {
		@apply w-full;
	}
}

.syzeql-multiselect-content-header {
	@apply p-2 pt-0 sticky top-0;
	z-index: 999;
}

// .syzeql-multiselect-content-body {
// 	@apply p-2;
// }

.syzeql-multiselect-open {
	// opacity: 1;
	// transform: translateY(0);
	// z-index: 5;

	&.syzeql-multiselect-trigger-icon {
		@apply rotate-180;
	}
}

.syzeql-multiselect-item-component {
	@apply py-2.5 px-5 cursor-pointer;
	&:hover {
		background: var(--syzeql-bg-soft);
	}

	.syzeql-checkbox-label {
		@apply flex items-center gap-1.5;
		width: calc(100% - 25px);
	}
}

.syzeql-multiselect-item-image {
	@apply w-5 h-5 object-cover rounded-[100%] border border-solid bg-(--syzeql-bg-weak);
	border-color: var(--syzeql-stroke-sub);
	background-color: var(--syzeql-bg-weak);
}

.syzeql-multiselect-no-options {
	@apply cursor-default my-2.5 text-center;
	color: var(--syzeql-text-sub);
}

.syzeql-multiselect-checked-items-component {
	@apply sticky top-10.5 cursor-default flex flex-wrap gap-1.5 p-3;
	// z-index: inherit;
	// background: var(--syzeql-bg-white);
	.syzeql-multiselect-checked-item {
		font-size: var(--syzeql-font-size-xs);
		line-height: var(--syzeql-font-line-height-xs);
		@apply w-fit flex items-center gap-1.5 rounded-[100%] bg-(--syzeql-bg-soft) p-0.5 text-(--syzeql-text-sub);

		&:not(.syzeql-multiselect-checked-item-image) {
			@apply pl-2;
		}

		.syzeql-multiselect-checked-item-image {
			@apply w-5 h-5 object-cover rounded-[100%] border border-solid bg-(--syzeql-bg-weak);
			border-color: var(--syzeql-stroke-sub);
			background-color: var(--syzeql-bg-weak);
		}

		.syzeql-multiselect-checked-items-icon {
			@apply rounded-[100%] bg-(--syzeql-bg-soft) p-0.5;
		}
	}
}
.syzeql-multiselect-trigger-value {
	@apply flex items-center gap-1;
	.syzeql-multiselect-trigger-value-item {
		@apply flex items-center h-6 gap-1 px-1 rounded-sm bg-[#ddd] text-[#1e1e1e] border-2;
		border-color: var(--syzeql-stroke-white);
		font-size: 13px;
	}
	.syzeql-multiselect-trigger-value-item-image {
		@apply w-4.5 h-4.5 object-cover rounded-[100%] border border-solid bg-(--syzeql-bg-weak);
		border-color: var(--syzeql-stroke-white);
		background-color: var(--syzeql-bg-weak);
	}
	.syzeql-multiselect-trigger-value-more {
		font-size: var(--syzeql-font-size-2xs);
	}
}

.syzeql-multiselect-dropdown-content > .components-popover__content {
	min-width: 300px;
}
